@import "tailwindcss";
@source "../node_modules/flowbite-datepicker";

@plugin "daisyui" {
  themes: light --default;
}

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  scrollbar-color: color-mix(in oklch, currentColor 35%, #0000) #0000;
  line-height: 1.5;
  font-weight: 400;
}